<!DOCTYPE html>
<html>
  <head>
    <title>Mi Perfil</title>
    <link rel="icon" href="./favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container v-if="loader" fluid class="mb-4">
            <v-row justify="center">
              <v-col cols="12" lg="8">
                <v-card class="mx-auto">
                  <v-img
                    class="white--text align-end"
                    height="300px"
                    src="img/portada_original.jpg"
                  >
                    <v-container>
                      <v-row>
                        <v-col>
                          <v-avatar size="164">
                            <v-img src="img/foto.jpg"></v-img>
                          </v-avatar>
                          <v-card-title>
                            Diego Armando Suquillo Gualotu&ntilde;a
                          </v-card-title>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-img>
                  <v-row justify="center" class="pt-3">
                    <v-col lg="8">
                      <v-banner
                        lg="4"
                        shaped
                        elevation="3"
                        class="font-weight-bold font-italic"
                      >
                        <v-icon slot="icon" color="error" size="36">
                          favorite
                        </v-icon>
                        "Hay cosas en la vida que no se pueden cambiar, pero tu
                        actitud frente a ellas s&iacute; que se puede cambiar.
                        Depende solamente de ti."
                      </v-banner>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      <v-card-title>
                        <h3>Informaci&oacute;n personal</h3>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          :class="$vuetify.breakpoint.xsOnly ? 'pb-0' : ''"
                        >
                          <v-list two-line>
                            <v-list-item
                              v-for="(info, i) in personalInformation.slice(0, 3)"
                              :key="i"
                            >
                              <v-list-item-avatar>
                                <v-icon color="primary">{{info.icon}}</v-icon>
                              </v-list-item-avatar>
                              <v-list-item-content>
                                <v-list-item-title
                                  class="font-weight-bold"
                                  v-html="info.title"
                                >
                                </v-list-item-title>
                                <v-list-item-subtitle
                                  v-html="info.subtitle === '' && info.title === 'Edad' ? edad : info.subtitle"
                                >
                                </v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          :class="$vuetify.breakpoint.xsOnly ? 'pt-0' : ''"
                        >
                          <v-list two-line>
                            <v-list-item
                              v-for="(info, i) in personalInformation.slice(3, 6)"
                              :key="i"
                            >
                              <v-list-item-avatar>
                                <v-icon color="primary">{{info.icon}}</v-icon>
                              </v-list-item-avatar>
                              <v-list-item-content>
                                <v-list-item-title
                                  class="font-weight-bold"
                                  v-html="info.title"
                                >
                                </v-list-item-title>
                                <v-list-item-subtitle
                                  v-html="info.subtitle === '' && info.title === 'Edad' ? edad : info.subtitle"
                                >
                                </v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="12">
                      <v-card-title>
                        <h3>Educaci&oacute;n</h3>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-timeline align-top dense>
                        <v-timeline-item
                          v-for="record in appliedStudies"
                          :key="record.date"
                          color="purple"
                          icon="school"
                          fill
                        >
                          <v-row>
                            <v-col
                              :cols="$vuetify.breakpoint.xsOnly ? '12' : '3'"
                            >
                              <strong> {{record.date}} </strong>
                            </v-col>
                            <v-col>
                              <p
                                v-html="record.title"
                                class="font-weight-bold mb-0"
                              ></p>
                              <div class="text-caption">
                                {{record.subtitle}}
                              </div>
                            </v-col>
                          </v-row>
                        </v-timeline-item>
                      </v-timeline>
                    </v-col>
                    <v-col cols="12">
                      <v-card-title>
                        <h3>Intereses</h3>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-timeline
                        :dense="$vuetify.breakpoint.xsOnly"
                        class="mx-2"
                      >
                        <v-timeline-item
                          v-for="item in interests"
                          :color="item.color"
                          :icon="item.icon"
                          fill-dot
                          :key="item.icon"
                        >
                          <v-card class="elevation-2">
                            <v-card-text v-html="item.content"></v-card-text>
                          </v-card>
                        </v-timeline-item>
                      </v-timeline>
                    </v-col>
                    <v-col cols="12">
                      <v-card-title>
                        <h3>Proyectos</h3>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-timeline dense class="mx-4">
                        <v-slide-x-reverse-transition group hide-on-leave>
                          <v-timeline-item
                            v-for="(project, p) in projects"
                            :key="p"
                            color="primary"
                            icon="engineering"
                            fill-dot
                          >
                            <v-card>
                              <v-list-item>
                                <v-list-item-content>
                                  <v-list-item-title
                                    class="text-h5"
                                    v-html="project.title"
                                  >
                                  </v-list-item-title>
                                  <v-list-item-subtitle
                                    v-html="project.subtitle"
                                  >
                                  </v-list-item-subtitle>
                                </v-list-item-content>
                              </v-list-item>
                              <v-card-text>
                                <p class="subtitle-2">Actividades</p>
                                <ul>
                                  <li
                                    v-for="(activity, i) in project.activities"
                                    v-html="activity"
                                    :key="i"
                                  ></li>
                                </ul>
                                <template
                                  v-if="project.relevantActivities && project.relevantActivities.length"
                                >
                                  <p class="subtitle-2 pt-3">
                                    Actividades relevantes
                                  </p>
                                  <ul>
                                    <li
                                      v-for="(activity, j) in project.relevantActivities"
                                      v-html="activity"
                                      :key="j"
                                    ></li>
                                  </ul>
                                </template>
                              </v-card-text>
                            </v-card>
                          </v-timeline-item>
                        </v-slide-x-reverse-transition>
                      </v-timeline>
                    </v-col>
                    <v-col cols="12">
                      <v-card-title>
                        <h3>Habilidades</h3>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          :class="$vuetify.breakpoint.xsOnly ? 'pb-0' : ''"
                        >
                          <v-list three-line>
                            <v-list-item
                              v-for="(skill, i) in skills.slice(0, 3)"
                              :key="i"
                            >
                              <v-list-item-avatar>
                                <v-icon color="primary">
                                  {{skill.icon}}
                                </v-icon>
                              </v-list-item-avatar>
                              <v-list-item-content>
                                <v-list-item-title
                                  class="font-weight-bold"
                                  v-html="skill.title"
                                >
                                </v-list-item-title>
                                <v-list-item-subtitle v-html="skill.subtitle">
                                </v-list-item-subtitle>
                                <v-progress-linear
                                  height="7"
                                  v-model="skill.amount"
                                  color="purple"
                                ></v-progress-linear>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          :class="$vuetify.breakpoint.xsOnly ? 'pb-0' : ''"
                        >
                          <v-list three-line>
                            <v-list-item
                              v-for="(skill, i) in skills.slice(3, 6)"
                              :key="i"
                            >
                              <v-list-item-avatar>
                                <v-icon color="primary">{{skill.icon}}</v-icon>
                              </v-list-item-avatar>
                              <v-list-item-content>
                                <v-list-item-title
                                  class="font-weight-bold"
                                  v-html="skill.title"
                                >
                                </v-list-item-title>
                                <v-list-item-subtitle v-html="skill.subtitle">
                                </v-list-item-subtitle>
                                <v-progress-linear
                                  height="7"
                                  v-model="skill.amount"
                                  color="purple"
                                ></v-progress-linear>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
          <v-container v-else class="loader text-center">
            <v-progress-circular
              indeterminate
              size="100"
              class="primary--text"
            ></v-progress-circular>
          </v-container>
        </v-main>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: () => ({
          personalInformation: [
            {
              icon: "account_circle",
              title: "Nombre",
              subtitle: "Diego Armando Suquillo Gualotu&ntilde;a",
            },
            {
              icon: "mail",
              title: "Correo",
              subtitle: "diego_suquillo@outlook.com",
            },
            {
              icon: "mdi-github",
              title: "Github",
              subtitle: "https://github.com/dsuquillo",
            },
            {
              icon: "credit_card",
              title: "Identificaci&oacute;n",
              subtitle: "1718197989",
            },
            {
              icon: "cake",
              title: "Edad",
              subtitle: "",
            },
            {
              icon: "phone",
              title: "Tel&eacute;fono celular",
              subtitle: "+593 989136439",
            },
          ],
          loader: false,
          appliedStudies: [
            {
              date: "1995 - 2000",
              title: "Escuela J.M. Jij&oacute;n Caama&ntilde;o y Flores",
              subtitle: "Chaupitena - Ecuador",
            },
            {
              date: "2001 - 2006",
              title: 'Unidad Educativa Experimental "Don Bosco" - La Tola',
              subtitle: "Quito - Ecuador",
            },
            {
              date: "2007",
              title: "Escuela Polit&eacute;cnica Nacional",
              subtitle: "Quito - Ecuador",
            },
          ],
          projects: [
            {
              title:
                "Consorcio Petrosud Petroriva y Consorcio Palanda Yuca Sur",
              subtitle: "Pasant&iacute;as (6 meses)",
              activities: [
                "Soporte al usuario",
                "Mantenimiento de equipos (Pc's y Laptops)",
                "Manejo b&aacute;sico de recursos de red",
              ],
            },
            {
              title: "Corporaci&oacute;n Mej&iacute;a Astudillo",
              subtitle: "Programador Junior (1 a&ntilde;o)",
              activities: [
                "Desarrollo de aplicaciones web",
                "Desarrollo de p&aacute;ginas web",
                "Soporte al usuario",
              ],
            },
            {
              title: "BYTEAM S.A.",
              subtitle: "Programador Senior (6 a&ntilde;os)",
              activities: [
                "Desarrollo de aplicaciones",
                "Manejo b&aacute;sico de servicios de Google",
                "Full stack developer",
              ],
              relevantActivities: [
                "Participaci&oacute;n en el desarrollo de la plataforma de evaluaci&oacute;n <b>Saber+</b>.",
                "Participaci&oacute;n en el proceso de consultor&iacute;a de evaluaciones con la <b>SENESCYT</b>.",
                "Participaci&oacute;n en el proceso de consultor&iacute;a de evaluaciones para el ingreso a <b>UCUENCA</b>.",
                "Participaci&oacute;n en el proceso de evaluaci&oacute;n para los Estados de <b>Nuevo Le&oacute;n</b> y <b>Tamaulipas</b> en <b>M&eacute;xico</b>.",
              ],
            },
          ],
          interests: [
            {
              icon: "school",
              color: "primary",
              content:
                "Terminar mis estudios superiores. Para mejorar mis oportunidades laborales.",
            },
            {
              icon: "code",
              color: "purple",
              content: "Pulir mis habilidades como desarrollador Fullstack.",
            },
            {
              icon: "sports_soccer",
              color: "primary",
              content: "Practicar f&uacute;tbol para mantenerme activo.",
            },
            {
              icon: "restaurant",
              color: "purple",
              content:
                "Experimentar con nuevas recetas y compartir comidas deliciosas con mi familia.",
            },
            {
              icon: "sports_esports",
              color: "primary",
              content: "Mejorar mis habilidades en los video juegos.",
            },
          ],
          skills: [
            {
              icon: "mdi-language-javascript",
              title: "Vue.js - Progressive JavaScript Framework",
              subtitle: "Javascript",
              amount: 90,
            },
            {
              icon: "mdi-language-javascript",
              title: "Vuetify - UI Component Framework for Vue",
              subtitle: "Javascript",
              amount: 100,
            },
            {
              icon: "mdi-language-php",
              title: "Laravel - PHP web application framework",
              subtitle: "PHP",
              amount: 90,
            },
            {
              icon: "mdi-database",
              title: "Postgresql",
              subtitle: "SQL",
              amount: 80,
            },
            {
              icon: "mdi-google-cloud",
              title: "Google Firebase",
              subtitle: "Servicios en la nube de Google",
              amount: 50,
            },
            {
              icon: "mdi-google",
              title: "Flutter - Google's UI toolkit",
              subtitle: "Aplicaciones para Android, iOS, Web, Desktop",
              amount: 30,
            },
          ],
        }),
        computed: {
          edad() {
            var hoy = new Date();
            var cumpleanos = new Date("1988-09-23");
            var edad = hoy.getFullYear() - cumpleanos.getFullYear();
            var m = hoy.getMonth() - cumpleanos.getMonth();

            if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
              edad--;
            }

            return edad;
          },
        },
        created() {
          window.onload = () => {
            this.loader = true;
          };
        },
      });
    </script>
  </body>
</html>
